


/* MAPA DE CONTENIDOS:

1) =ROOT:
  1.1) =Variables de personalizacion de pagina
  1.2) =Variables de cambio visual relacionado a al ancho de la pantalla

2) =MEDIA QUERIES:
  2.1) min-width:  360px
  2.2) min-width:  576px
  2.3) min-width:  768px
  2.4) min-width:  992px
  2.5) min-width: 1200px

3) =TIPOGRAFIAS:

4) =ETIQUETAS GLOBALES:

5) =ESTRUCTURA:

6) =COMPONENTES:
6.1) =titles
6.2) =Count Down
6.3) =Form
6.4) =skews
6.5) =yellow lines
6.6) =background
6.7) =CTAs

FIN DE MAPA DE CONTENIDOS */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                               1) =ROOT:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

:root {

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
                 1.1) =Variables de personalizacion de pagina
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */
  /* la idea de esto es que sean como controles con los
  que hacer facilmente diferentes versiones de la pagina */

  /* --topCero: 46px; */
  /* --topCero: 0px; */
  --sE: 20;
  --specialContSpan: 4;

  /* COLORS */
  /* Al editar colores siempre usar HEX y nunca
  dejar espacio entre los dos puntos y el color */
  --color1:#FFD300;
  --color2:#FFFFFF;
  --color3:#D2AA6C;
  /* --color4:#EBE1C8; */
  /* --color5:#F5F0DC; */
  /* --color6:#FFFAE6; */

  /* SIZES */
  /* Al editar los tamaños, hacerlo siempre sin unidades
  sabiendo que el numero corresponde a la cantidad de pixeles */
  --sizeRa: 16; --sizeRb: 20; --sizeRc: 20; --sizeRd:24;
  --sizeR: calc(var(--sizeRa) * 1px);

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
      1.2) =Variables de cambio visual relacionado a al ancho de la pantalla
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */

  /* Componentes */

  --mainLogoHeight: 150px;
  --mainLogoTop: 0;
  --mainLogoRight: 0;

  --title1Height: 3rem;
  --title2FontSize: 1rem;
  --title3FontSize: .8rem;

  --countNumberFontSize: 3rem;
  --countLabelFontSize: .6rem;

  --formWidth: 90%;
  --checkNorms: .7rem;
  --formMarginBottom: 8rem;

  --checkBoxNormsSize: .7rem;
  --checkNormsPadding: 1.1rem;

  --certificadosImgWidth: 90%;
  --section1CaptionPadding: 2rem 1rem 0 1rem;
  --section2CaptionPadding: 2rem 1rem 0 1rem;
  --certificadosImgMargin: unset;

  --hrSeparatorMargin: .5rem auto;
  --hrSeparatorHeight: 3.2rem;
  --descargaCatalogo2Margin: .5rem auto;
  /* Estructura */

  --countViewPadding: 8rem 1rem;
  --sectionCaption: 100%;
  --section2CaptionWidth: 100%;

  --separatorCTAFlexDirection: column;
  --separatorCTAHeight: 150px;
  --descargaCatalogoFontSize: 1.2rem;
  --section4Padding: 0;


  /* --------------------------------------------------------------
  ------------------------Landing----------------------------------
  ---------------------------------------------------------------*/

  /* Componentes */
  --atfBgPosition: relative;
  --atfBgTop: 0;
  --atfBgWidth: 100%;
  --atfBgLeft: -30%;
  --atfBgTransform: scale(1.5);
  --mainLogoLandingTop: 4rem;
  --CTA1Width: 100%;
  --multiviaHRLogoMargin: auto;
  --frontaltry1Display: none;
  --frontaltry12Display: block;
  --frontalTray2Display: none;
  --frontalTray22Display: block;
  --frontalTray1Width: 60%;
  --frontalTryal1Margin: auto;
  --frontalTray2Width: 90%;
  --certificadosImgDisplay: 90%;
  --logoSection3Margin: 1rem auto;

  /* Estructura */
  --section1Direction: column;
  --section2Direction: column;
  --sectionTxtTextAlign: justify;

  --section3GridAutoFlow: unset;
  --section3Padding: 2rem 1rem;
  --resistenciaTitleMarginTop: 2rem;

  --section5FlexDirection: column;
  --formContainerWidth: 90%;
  --marginBottomLogoBottom: 20rem;



  /* Skews */
  --sekw1Width: 40%;
  --skew3Width: calc(var(--sekw1Width) + 10rem);
  --skewInverseContainerMarginTop: 2rem;
  --skewInverseContainerWidth: 90%;
  --skewContainer2MarginTop: 7rem;
  --skew3Top: 1.9rem;

  /* CTAs */
  --descargaCatalogo1Margin: 1rem auto;
  --descargaCatalogo1Width: 80%;
  --CTA1MarginTop: 6rem;
  --descargaIconTxtLineHeight: 1.5rem;
  --descargaIconTxtAlignment: space-evenly;

  /* Titles */
  --multiviaHgroup1Width: 95%;
}


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                            2) =MEDIA QUERIES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =360px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media     screen and (min-width: 360px)  {
  :root {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - 400px) / (1024 - 400))); */
  --sizeR: calc(calc(var(--sizeRa) * 1px) + (var(--sizeRb) - var(--sizeRa)) * ((100vw - 360px) / (768 - 360)));
}}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =576px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  :root {

    /* Componentes */

    --mainLogoHeight: 200px;
    --mainLogoRight: 0;

    --title1Height: 3rem;
    --title2FontSize: 1rem;
    --title3FontSize: .8rem;

    --countNumberFontSize: 4rem;
    --countLabelFontSize: .8rem;

    --formWidth: 70%;
    --checkNorms: .5rem;
    --formMarginBottom: 15rem;

    --certificadosImgWidth: 40%;
    --section2CaptionWidth: 60%;
    --certificadosImgMargin: auto;

    --descargaCatalogo2Margin: auto auto auto 5.5rem;
    --hrSeparatorMargin: auto 2.5rem auto auto;
    --hrSeparatorHeight: 2.6rem;

    --frontalTray2Width: 70%;

    /* Estructura */
    --section2Direction: row;
    --separatorCTAFlexDirection: row;
    --separatorCTAHeight: 100px;
    --descargaCatalogoFontSize: unset;
    --formContainerWidth: 70%;


    /* --------------------------------------------------------------
    ------------------------Landing----------------------------------
    ---------------------------------------------------------------*/

    /* Componentes */

    --mainLogoLandingTop: 0rem;

  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =768px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  :root {
    --sizeR: calc(calc(var(--sizeRc) * 1px) + (var(--sizeRd) - var(--sizeRc)) * ((100vw - 768px) / (1200 - 768)));


    /* --------------------------------------------------------------
    ------------------------Landing----------------------------------
    ---------------------------------------------------------------*/

    /* Estructura */

    --section3SpecialPadding: 1rem;
    --section3GridGap: 1rem;
    --section3Padding: 2rem 1rem;

    --section3GridAutoFlow: column;
    --resistenciaTitleMarginTop: ;
    --section5FlexDirection: row;
    --formContainerWidth: 50%;
    --marginBottomLogoBottom: 25rem;


    /* Componentes */
    --atfBgWidth: 65%;
    --atfBgTop: 17rem;
    --atfBgPosition: absolute;
    --atfBgLeft: 0;
    --atfBgTransform: unset;
    --frontalTryal1Margin: auto;
    --logoSection3Margin: 1rem 5rem 1rem auto;
    --frontalTray2Width: 50%;



    /* Skews */
    --skewInverseContainerWidth: 65%;
    --skewInverseContainerMarginTop: 1rem;
    --skew3Width: calc(var(--sekw1Width) + 14rem);
    --sekw1Width: 20%;
    --skewContainer2MarginTop: 13rem;
    --skew3Top: 1.6rem;

    /* Titles */

    --descargaCatalogo1Width: unset;
  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =992px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  :root {

    /* Componentes */

    --mainLogoHeight: 230px;
    --mainLogoTop: .6rem;
    --mainLogoRight: 2rem;

    --title1Height: 6rem;
    --title2FontSize: 1.4rem;
    --title3FontSize: 1.2rem;

    --countNumberFontSize: 6rem;
    --countLabelFontSize: 1rem;

    --formWidth: 37%;
    --checkNorms: .3rem;
    --formMarginBottom: 16rem;

    --checkBoxNormsSize: .3rem;
    --checkNormsPadding: .7rem;

    --certificadosImgMargin: unset;

    --frontalTray2Width: 30%;
    --frontalTray2Margin: auto;


    /* Estructura */
    --countViewPadding: 5rem;


    /* --------------------------------------------------------------
    ------------------------Landing----------------------------------
    ---------------------------------------------------------------*/

    /* Estructura */
    --section1Direction: row;
    --sectionCaption: 70%;
    --certificadosImgWidth: 32%;
    --section2CaptionWidth: 68%;
    --section1CaptionPadding: 2rem 1rem 2rem 3rem;
    --section2CaptionPadding: 2rem 3rem 2rem 2rem;

    --sectionTxtTextAlign: left;



    /* Componentes */

    --atfBgTop: 10rem;
    --atfBgWidth: 70%;
    --multiviaHRLogoMargin: auto auto 1rem 0;
    --atfBgTop: 12rem;
    --multiviaHgroup1Width: 64%;
    --frontaltry1Display: block;
    --frontaltry12Display: none;
    --frontalTray2Display: block;
    --frontalTray22Display: none;
    --frontalTray1Width: 35%;
    --certificadosImgDisplay: 30%;

    /* Skews */
    --skewContainer2Width: 45%;
    --skewInverseContainerWidth: 40%;
    --skewInverseContainerMarginTop: 1rem;

    /* CTAs */
    --CTA1Width:  64%;
    --descargaCatalogo1Margin: auto 3rem 1rem auto;
    --descargaCatalogo1Width: unset;
    --CTA1MarginTop: 1rem;
    --descargaIconTxtLineHeight: 1rem;
    --descargaIconTxtAlignment: flex-end;
  }
}

p, a {font-family: 'Poppins', sans-serif;}
h1, h2, h3, h4, h5, h6, .thisIsATitleToo {
  font-family: 'vipnagorgialla', sans-serif;
  color: white;
  font-weight: 100;
}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =1200px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media  screen and (min-width: 1200px) {
  :root {
    --sizeR: calc(var(--sizeRd) * 1px);

    /* --------------------------------------------------------------
    ------------------------Landing----------------------------------
    ---------------------------------------------------------------*/

    /* Estructura */
    --section3SpecialPadding: 1rem;
    --section3GridGap: 3rem;
    --section3Padding: 2rem 3rem;

    /* Componentes */

    --atfBgTop: 7rem;
    --atfBgWidth: 80%;
    --frontalTryal1Margin: unset;

    --frontalTray2Margin: 0 auto auto 0;

    --formContainerWidth: 30%;

    /* Skews */
    --skewContainer2Width: 32%;
  }
}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =1300px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media  screen and (min-width: 1300px) {
  :root {
    --sizeR: calc(var(--sizeRd) * 1px);
    /* --------------------------------------------------------------
    ------------------------Landing----------------------------------
    ---------------------------------------------------------------*/
    /* Componentes */
    --atfBgTop: 6rem;
    --atfBgWidth: 75%;
  }
}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =1500px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media  screen and (min-width: 1500px) {
  :root {
    --sizeR: calc(var(--sizeRd) * 1px);
    /* --------------------------------------------------------------
    ------------------------Landing----------------------------------
    ---------------------------------------------------------------*/
    /* Componentes */
    --atfBgTop: 3rem;
    --atfBgWidth: 50%;
    --certificadosImgWidth: 20%;

    --section1CaptionPadding: 4rem 6rem;
    --section2Padding: 2rem 0;
    --section2CaptionPadding: 2rem 6rem;
    --section4Padding: 2rem 0;

    /* Skews */
    --skewContainer2MarginTop: 8rem;
  }
}



/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
                                 =LOGIC FOLD
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              3) =TIPOGRAFIAS:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

@font-face {
  font-family: vipnagorgialla;
  src: url(../fonts/vipnagorgialla.ttf);
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                           4) =ETIQUETAS GLOBALES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
:root{font-size:var(--sizeR)}
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  z-index:3;
}
body{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100% 100%;
  overflow-x: hidden;
  position: relative;
  transition: .5s;
}
#view.expired .countView{
  display: none;
}
#view:not(.expired) .landingView{
  display:none;
}
.countView{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--countViewPadding);
  background: black;
  color: white;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  transition: .5s;
}




.landingView {
  background: black;
  width: 100%;
  overflow-x: hidden;
}


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              5) =ESTRUCTURA:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

.multiviaHRHeader {
  width: 100%;
  height: 5rem;
}


.footer {
  position: absolute;
  left: 3rem;
  bottom: 1rem;
}

.privacyContainer {
  display: flex;
}

.privacyLink {
  color: #AAA;
  text-decoration: none;
  font-size: .6rem;
  opacity: .5;
  margin: .1rem 0;
}

.credits {color: #AAA; font-size: .5rem; opacity: .7}

.atf {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  padding-bottom: 2rem;
}

/* SEPARATORS */

.separator {
  background: var(--color1);
  border: none;
  height: .15rem;
  margin: auto;
  width: 60%;
}


.separatorCTA {
  width: 100%;
  height: var(--separatorCTAHeight);
  display: flex;
  flex-direction: var(--separatorCTAFlexDirection);
  background: var(--color1);
}

.separatorCTA .descargaCatalogo {font-size: var(--descargaCatalogoFontSize);}

/* Landing Sections */

/* Section 1 */
.section {display: flex;}
.section1 {flex-direction: var(--section1Direction);}

/* section 2 */
.section2 {
  flex-direction: var(--section2Direction);
  padding: var(--section2Padding);
}

.sectionCaption {width: var(--sectionCaption);}
.section1Caption {padding: var(--section1CaptionPadding);}
.section2Caption {padding: var(--section2CaptionPadding);}

/* section 3 */
.section3 {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: var(--section3GridAutoFlow);
  padding: var(--section3Padding);
  grid-column-gap: var(--section3GridGap);
  color: white;
  grid-row-gap: .75rem;
}

.section3>*:not(.section3LowerInfo) {
  padding-right: var(--section3SpecialPadding);
}
.section3 .sectionTxt {margin:unset;}

/* Section 4 */

.section4 {
  flex-wrap: wrap;
  padding: var(--section4Padding);
}

.section5 {flex-direction: var(--section5FlexDirection)}

.section6 {
  flex-direction: column;
  height: max-content;
  position: relative;
  color: white;
}

.section6 .background1 {
  bottom: 0;
  top: 0;
}

.section6 .form {
  width: 100%;
  margin: 0;
}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6) =COMPONENTES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.english {color: #AAA!important;}
.separatorCTA .english{color: #222!important}
.darkEnglish {color: #65635F;}
.mainLogo {
  position: absolute;
  top: var(--mainLogoTop);
  right: var(--mainLogoRight);
  width: var(--mainLogoHeight);
  z-index: 4;
}

.mainLogoLanding {
  position: absolute;
  top: var(--mainLogoLandingTop);
  right: var(--mainLogoRight);
  width: var(--mainLogoHeight);
  z-index: 4;
}

.hrLogo {
  height: 2rem;
  margin: auto;
  /* margin-right: 3rem; */
}

.hrSeparator {
  height: var(--hrSeparatorHeight);
  margin: var(--hrSeparatorMargin);
}

.multiviaHRLogo {
  margin: var(--multiviaHRLogoMargin);
  height: 6rem;
}

.atfBg {
  position: var(--atfBgPosition);
  top: var(--atfBgTop);
  left: var(--atfBgLeft);
  width: var(--atfBgWidth);
  z-index: -1;
  transform: var(--atfBgTransform);
}


.sectionTxt {
  color: white;
  font-size: .7rem;
  margin: .75rem 0;
  line-height: 1rem;
  text-align: var(--sectionTxtTextAlign)
}

.frontalTray1:nth-child(2) {display: var(--frontaltry1Display)}
.frontalTray1:nth-child(3) {display: var(--frontaltry12Display)}

.frontalTray1 {
  object-fit: contain;
  width: var(--frontalTray1Width);
  height: 100%;
  margin: var(--frontalTryal1Margin);
  margin-bottom: auto;
  padding-bottom: 2rem;
}



.frontalTray2 {
  display: var(--frontalTray2Display);
  object-fit: contain;
  height: 100%;
  width: var(--frontalTray2Width);
  margin: var(--frontalTray2Margin);

}

.frontalTray22 {
  display: var(--frontalTray22Display);
  margin: auto;
  margin-top: -3rem;
  position: relative;
  z-index: -1;
  width: 90%;
}



.certificadosImg {
  object-fit: contain;
  height: 100%;
  width: var(--certificadosImgWidth);
  padding-top: 2rem;
  margin: var(--certificadosImgMargin);
}

.gigantBorderLeft {
  border-left: solid .6rem var(--color1);
  margin: auto 0;
}

.gigantBorderLeft>* {margin: .6rem 0; padding-left: .5rem;}
.yellowTxt {color: var(--color1)}
.tinyTxt {font-size: .4rem}
.lowerInfoTxt {font-size: .6rem}

.section3LowerInfo {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: .3rem;
}
.logoSection3 {
  height: 1.5rem;
  margin: var(--logoSection3Margin);
  grid-column: span 3;
}

.roastImg {
  width: 100%;
}
figure.viatecRoast p, figure.viafilRoast p{font-size:.6rem}

.InfoTxt {
  padding: 0 .3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RoHSImg {
  object-fit: contain;
  height: 5rem;
  width: auto;
  margin: 5rem 1rem;
}

.bottomLogoLanding {
  width: 25%;
  margin: auto;
  margin-bottom: var(--marginBottomLogoBottom);
}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6.1) =titles:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.titles {
  text-align: center;
}
.title1 {height: var(--title1Height); max-width: 50%;}

.title2 {
  font-size: var(--title2FontSize);
  letter-spacing: 1px;
  margin-top: 1rem;
  word-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
}


.text{
  font-size: .7rem;
}

.title3 {
  font-size: var(--title3FontSize);
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: 100;
  font-style: italic;
  text-transform: lowercase;
}

.AltaRecistenciaTitle {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-weight: 200;
}
.landingTitle1 {
  height: 4rem;
}

.multiviaHgroup {}

.multiviaHgroup1  {width: var(--multiviaHgroup1Width);}
.subtitle {font-size: .9rem;}
.subtitle1 {margin: .5rem 0;}

.novedadMundial {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.novedadMundial span {font-size: 1.2rem; margin-left: .5rem;}

.blackSmallerTitle {
  font-size: .7rem;
  color: black;
}

.sectionTitle {
  font-size: .9rem;
  letter-spacing: 1px;
}

.resistenciaTitle {
  margin-top: var(--resistenciaTitleMarginTop);
}

.section1Title {text-align: var(--sectionTxtTextAlign);}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6.2) =Count Down:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
#demo{
  font-size: 5rem;
  font-weight: 100;
}
.countCountainer {
  display:grid;
  grid-auto-columns: 1fr min-content;
  grid-template-rows:1fr min-content;
  grid-auto-flow: column;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}
.countNumber {
  font-size: var(--countNumberFontSize);
  line-height: 6rem;
  font-weight: 100;
}

.countLabel {font-size: var(--countLabelFontSize)}

.dosPuntos{
  font-size: 4rem;
  grid-row: span 2;
  width: min-content;
  margin-top: -1.2rem;
}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6.3) =Form:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


.suscribete {font-size: .7rem; text-align: center}
.form{
  width: var(--formWidth);
  margin:2rem;
  margin-bottom: var(--formMarginBottom);
  margin-top: 1.5rem;
}

.formInputs{
  width: 100%;
  position: relative;
  height: 1.7rem;
  overflow: hidden;
}

.formInputs input{
  width: 100%;
  height: 100%;
  /* color:#595f6e; */
  color:white;
  border:none;
  padding-top: 5px;
  outline: none;
  background: transparent;
}

.formInputs label{
  position: absolute;
  bottom:0;
  left:0;
  height: 100%;
  width:100%;
  pointer-events: none;
  border-bottom: 1px solid #CCC;
}

.formInputs label::after{
  border-bottom:3px solid var(--color1);
  content:'';
  position: absolute;
  left: 0;
  bottom:-1px;
  height:100%;
  width: 100%;
  transform: translateX(-100%);
  transition: .3s ease-in-out;
}

.contentName{
  position: absolute;
  bottom:5px;
  left: 0;
  transition: all 0.3s ease;
  color:#A0A0A0;
  font-size: .6rem;
  opacity: .7;
  font-family: 'Poppins', sans-serif;
}

.formInputs input:focus + .labelName .contentName,
.formInputs input:valid + .labelName .contentName{
  transform:translateY(-80%);
  font-size: .6rem;
}

.formInputs input:focus + .labelName::after,
.formInputs input:valid + .labelName::after{
  transform: translateX(0);
}

.checkNorms{
  font-size: var(--checkNorms);
  position: relative;
  padding-left: var(--checkNormsPadding);
}
.checkNorms::after{
  content: "";
  width:  var(--checkBoxNormsSize);
  height: var(--checkBoxNormsSize);
  background: transparent;
  position: absolute;
  top:0;
  left:0;
  border: 2px solid white;
}
#checkNorms{position:absolute;left:-200vw}
#checkNorms:checked ~ .checkNorms::after{
  background: white;
}


.butttonSend{
  background: transparent;
  border:2px solid white;
  color: #CCC;
  margin: 1rem 0;
  margin-left: auto;
  float: right;
  padding: .2rem;
  text-transform: uppercase;
}

/* FORM LANDING PAGE */

.formContainer {
  width: var(--formContainerWidth);
  margin: 2rem auto;
}


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6.4) =skews:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.skew {
  position: absolute;
  top:0;
  left: 0;
  height: 4rem;
  width:20%;
  transform-origin: 0 0;
  transform: skewX(-25deg);
  background: #AAA;
  box-shadow: 14px 0 28px rgba(0,0,0,0.25), 10px 0 10px rgba(0,0,0,0.22);
}

.landingSkew>* {
  transform: skewX(25deg);
}
.skewInverse>* {
  transform: skewX(25deg);
}

.landingSkew {
  position: absolute;

  transform-origin: 0 0;
  transform: skewX(-25deg);
  background: #AAA;
  box-shadow: 10px 0 28px rgba(0,0,0,0.4), 6px 0 10px rgba(0,0,0,0.4);
  display: flex;
}
.skew1 {
  background: #9B9B9B;
  box-shadow:
    2px 2px 8px 6px rgba(0,0,0,0.5);
    /* 8px 5px 6px 0px rgba(255,255,255,0.4); */
  height: 4.5rem;
  width: var(--sekw1Width);
  z-index: 4;
}

.skew2 {
  height: 1.9rem;
  width:calc(var(--sekw1Width) + 3rem);
  background: var(--color1);
  z-index: 3;
  box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.5);
}

.skew3 {
  background: white;
  height: 2.1rem;
  display: flex;
  top: var(--skew3Top);
  left: 0;
  z-index: 1;
  width: var(--skew3Width);
}

.skew3 {
  justify-content: flex-end;
}

.headerSubLogo {
  height: 1rem;
  margin: auto 1rem;
}

.skewInverse {transform: skewX(-25deg); transform-origin: bottom;}
.skewInverse1 {
  background: var(--color1);
  padding: .2rem .5rem;
  padding-left: 2rem;
  box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.5);
  z-index: 2;
  position: relative;
}
.skewInverseContainer {
  width: var(--skewInverseContainerWidth);
  display: flex;
  flex-direction: column;
  margin-top: var(--skewInverseContainerMarginTop);
}
.skewInverse2 {
  background: white;
  height: 1rem;
  z-index: 1;
  margin-top: -5px;
  position: relative;
  width: 95%;
  margin: auto;
  margin-right: 0;
}

.skewContainer2 {
  margin-top: var(--skewContainer2MarginTop);
  width: var(--skewContainer2Width);
  font-size: .9rem;
}
.skewInverse3 {
  background: #9B9B9B;
  padding:.75rem 1rem;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.5);
}
.skewInverse4 {
  background: white;
  padding: 1rem;
  color: #626262!important;
  width: 80%;
  margin: -5px 0 auto auto;
  position: relative;
  z-index: 1;
}
.skewInverse4 p {color: #626262!important;}
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6.5) =yellow lines:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.yellowContainer {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap:.3rem;
  margin: 1.2rem;
  margin-top: 2.2rem;

}
.yellowLine {
  top:0;
  left: 0;
  height: .8rem;
  width:  .35rem;
  transform-origin: 0 0;
  transform: skewX(-25deg);
  background: var(--color1);

}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6.6) =background:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.backgroundShadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-image: radial-gradient(circle farthest-corner at 50% 0rem, #000 0%, rgba(0, 0, 0, 0) 80%);
  top: 0;
  left:0;
}
.background1 {
  position: absolute;
  bottom:19rem;
  right:0;
  z-index: 1;
  width: 87%;
}
.background2{
  position: absolute;
  bottom:0;
  left:  0;
  width: 100%;
  z-index: 0;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6.7) =CTAs:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

.CTA1 {
  border-bottom: solid 3px var(--color1);
  display: flex;
  margin-top: var(--CTA1MarginTop);
  width: var(--CTA1Width);
  flex-wrap: wrap;
}

.descargaCatalogo {
  display: flex;
  color: white;
  text-decoration: none;
  height: min-content;
  font-size:.8rem;
}

.descargaCatalogo1 {
  margin: var(--descargaCatalogo1Margin);
  width: var(--descargaCatalogo1Width);
  justify-content: center;
}

.descargaIcon {height: 2.5rem}

.descargaIconTxt {
  line-height: var(--descargaIconTxtLineHeight);
  align-self: var(--descargaIconTxtAlignment);
  margin-left: .5rem;
}

.descargaCatalogoBlack {color: black!important}

.descargaCatalogo2 {
  margin: auto;
  margin: var(--descargaCatalogo2Margin);
}





.g-recaptcha{margin:.5rem 0}
